
@media (min-width:901px){
  body.fp-index-shell-copy > header.site-header{
    height:62px!important;
    min-height:62px!important;
    max-height:62px!important;
  }
  body.fp-index-shell-copy > header.site-header .container.nav{
    height:62px!important;
    min-height:62px!important;
    max-height:62px!important;
  }
}
